* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.logo {
    & img {
        width: 100px;
    }
}

.main-nav {
    background-color: #111;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 500;

    & a {
        font-size: 20px;
        color: whitesmoke;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
    }
}

/* Hero */

.hero {
    position: relative;
    width: 100%;
    height: 700px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/daysgone-landscape.jpg');
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & img {
        width: 900px;
    }
}


/* Swipper */

.gallery {
    height: 500px;
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/swipper5.webp');
    background-position: center;
    overflow: hidden;
}


.mySwiper {
    width: 700px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* Resumen */

.summary {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/daysgone-summary.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #111;
    height: 700px;
    color: whitesmoke;
    /* position: relative; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    & .text1,
    .text2 {
        /* position: absolute; */
        padding: 30px;
        /* -webkit-box-shadow: 5px 5px 15px 5px #f7f2f2;
        box-shadow: 5px 5px 15px 5px #f7f4f4; */
        border: solid 4px black;
        backdrop-filter: blur(10px);

    }

    & .text1 {
        width: 500px;
        /* top: 50px;
        left: 350px; */


        & h2 {
            text-transform: uppercase;
            font-size: 20px;
        }

        & p {
            font-size: 30px;
        }
    }

    & .text2 {
        width: 900px;
        /* bottom: 70px;
        right: 170px; */
        font-size: 25px;
    }

    & .summary-logo {
        width: 350px;
        position: absolute;
        bottom: 40px;
        left: 400px;

        & img {
            width: 100%;
        }
    }
}

/* Main characteristics */

.main-characteristics {
    width: 100%;
    /* height: 600px; */
    padding: 40px;
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.characteristics-item {
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;

    &:hover .characteristics-description {
        left: 0;
    }

    & img {
        width: 100%;
        height: 100%;
    }

    & .characteristics-title {
        width: 100%;
        height: 100%;
        padding-top: 10px;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: flex-start;

        color: white;
        text-transform: uppercase;
    }

    & .characteristics-description {
        backdrop-filter: blur(6px);
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: 0.6s;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        color: white;
        font-size: 20px;
        ;
    }
}

/* Days gone World */
.daysgone-world {
    background-color: whitesmoke;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/characteristics1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.world-item {
    width: 500px;
    /* background-color: #111; */
    padding: 20px;

    & .world-video {
        & iframe {
            width: 100%;
            margin-bottom: 20px;

        }
    }

    & .world-text {
        color: whitesmoke;

        & h2 {
            margin-bottom: 10px;
            font-size: 30px;
        }

        & p {
            font-size: 20px;
        }
    }
}

/* PlayStation Store */

.playstation-store {
    background-color: whitesmoke;
    padding: 40px;

    & h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.playstation-store-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.psstore-item {
    width: 600px;
    height: 800px;
    /* border: solid 1px red; */
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & img {
        width: 100%;
    }

    & h3 {
        font-size: 35px;
        text-align: center;
    }

    & p {
        font-size: 30px;
    }

    & ul {
        & li {
            font-size: 20px;
        }
    }
}

& .price {    
    font-size: 40px;
}

.cart-button {
    background-color: orange;
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 25px;
}

